@model ClinicManagementMVC.Models.Doctordetails

@{
    ViewData["Title"] = "Edit";
}

<h2> Edit Doctor Details <a class="btn btn-danger float-right" href="~/Home/Index">LogOut</a></h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DoctorID" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Sex</label><br />
                @Html.RadioButtonFor(model => model.Sex, "Male")
                Male<br />
                @Html.RadioButtonFor(model => model.Sex, "Female")
                Female<br />
                @Html.RadioButtonFor(model => model.Sex, "Others")
                Others<br /><br />
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_of_Birth" class="control-label"></label>
                <input asp-for="Date_of_Birth" class="form-control" />
                <span asp-validation-for="Date_of_Birth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialization" class="control-label"></label>
                @Html.DropDownList("Specialization", new List<SelectListItem>
               {
                   new SelectListItem{Value="General",Text="General"},
                   new SelectListItem{Value="Internal Medicine",Text="Internal Medicine"},
                   new SelectListItem{Value="Pediatrics",Text="Pediatrics"},
                   new SelectListItem{Value="Orthopedics",Text="Orthopedics"},
                   new SelectListItem{Value="Ophthalmology",Text="Ophthalmology"}

                }, "Specialization", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="FromTime" class="control-label"></label>
                <input asp-for="FromTime" class="form-control" />
                <span asp-validation-for="FromTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToTime" class="control-label"></label>
                <input asp-for="ToTime" class="form-control" />
                <span asp-validation-for="ToTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table>
                    <tr>
                        <input type="submit" value="Edit Details" class="btn btn-success" />
                    </tr>
                    <tr>
                        <a class="btn btn-secondary " href="~/Doctordetails/Index">Back to List</a>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>



