@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>About our Corporate Careers</h2>

<p>
    <b>The Stone Cinic</b>is one of the largest integrated healthcare organizations in the world with owned and managed hospitals, diagnostic clinics, dispensing pharmacies and
    consultancy services. In addition, the group’s service offerings include healthcare at the patient’s doorstep, clinical & diagnostic services, medical business process outsourcing,
    third party administration services and heath insurance.<br />

    We currently engage more than 70,000 doctors, nurses, paramedics, clinical staff and management professionals to manage over 10000 beds across 70 hospitals in India and abroad.

    The talent and passion of our people is critical to our success and we foster it by providing an exhilarating working environment that
    inspires lateral thinking, fosters team spirit and encourages open communication. <br />

    Teamwork, professionalism, focus on clinical excellence and goals of continuous
    medical innovation and commitment to progress make Apollo Hospitals an ideal environment for doctors to practice medicine, explore new frontiers and conduct path breaking research.

    If you are looking to work with a truly global organization, Apollo Hospitals is where you should be. With a culturally diverse and a truly international team,
    we can provide a solid foundation for building a fulfilling professional career.
</p>
<br />
<br />
<h2>Vision of The Stone Clinic</h2>
<br />
“Stone clinic will provide Quality Health Care which is :
<ul>
    <li>Cost Effective</li>
    <li>Community Centered</li>

</ul>
<p>
    The Stone Clinic is also an approved training centre by the National Board of Examination for
    Post-graduation degree as a 'Diplomate of National board' in ten broad specialities. It also houses a training centre
    for Dental students and offers Post-Doctoral Fellowship programme in Critical Care Medicine, B.Sc Degree program in
    Emergency Medicine, and other reputed Academic programs such as Member of the Royal College of Emergency Medicine
    (MRCEM), Member of the Royal College of Physicians (MRCP) and Member of the Royal College of Peadiatrics & Child Health
    (MRCPCH). It also provides medical training for para-medicals, such as Physiotherapy & Nutritional Support Service Internship,
    and also conducts conferences like Academy for Continuing Medical Education (ACME) and Focussed Overviews Reviews & Updates in Medicine (FORUM).
    The hospital lays great emphasis on maintaining quality standards. SMF is certified by NABH (National Accreditation Board for Hospitals & Healthcare
    Providers), ISO/IEC 27001: 2013 (Information Security Management Systems), ISO 15189: 2012 (National Accreditation Board for Testing and
    Calibration Laboratories). It operates in an environment which is clean, caring and responsive to the needs of the patient, and serves as a Role
    Model of Health Care Delivery system in India. In its years of service to the community, We are proud of the fact that SC continues with a series
    of expansion and enhancement initiatives that will advance the vision of our founder.
</p>
