@*@model ClinicManagementMVC.Models.Appointmentfixing

@{ ViewData["Title"] = "AddSpecialization"; }

<h1>Select the Specialization Required</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSpecialization">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpecializationRequired" class="control-label"></label>
                @Html.DropDownList("SpecializationRequired", new List<SelectListItem>
                   {
                   new SelectListItem{Value="General",Text="General"},
                   new SelectListItem{Value="Internal Medicine",Text="Internal Medicine"},
                   new SelectListItem{Value="Pediatrics",Text="Pediatrics"},
                   new SelectListItem{Value="Orthopedics",Text="Orthopedics"},
                   new SelectListItem{Value="Ophthalmology",Text="Ophthalmology"}

                }, "SpecializationRequired", new { @class = "form-control" })
                <span asp-validation-for="SpecializationRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Fix Appointment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Appointment" asp-action="AddPointment"></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@